{% extends 'Base.html' %}

{% block content %}
<div class="container">
    <form action="{% url 'polls_vote' question.id %}">
        {% csrf_token %}
        <fieldset>
            <legend>
                <h1>{{ question.question_subject }}</h1>
                <p>{{ question.question_text }}</p>
            </legend>
            {% for choice in question.choice_set.all %}
                <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
                <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br>
            {% endfor %}
        </fieldset>
        <input type="submit" value="vote">
    </form>
</div>
{% endblock %}