<!-- Navigation Bar -->
{% load static %}
<!-- Header -->
<div>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #2377b846;"> <!-- nav의 style에서 background-color에서 색 지정-->
            <div class="container">
                <a class="navbar-brand" href="/main">
                    <img src="{% static 'images/OSA_logo.png' %}" alt="로고이미지" width="100px">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/main">홈</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">링크1</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                목록
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="#">목록1</a></li>
                                <li><a class="dropdown-item" href="#">목록2</a></li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li><a class="dropdown-item" href="#">목록3</a></li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            {% if user.is_authenticated %}
                            <a class="nav-link" href="{% url 'common:logout' %}">{{ user.username }}로그아웃</a>
                            {% else %}
                            <a class="nav-link" href="{% url 'common:login' %}">로그인</a>
                            {% endif %}
                        </li>
                    </ul>
                    <form class="d-flex">
                        <input class="form-control me-2" type="search" placeholder="키워드 검색" aria-label="Search">
                        <button class="btn btn-outline-success" type="submit">Search</button>
                    </form>
                </div>
            </div>
        </nav>
    </header>
</div>
<!-- /Header -->