<!-- 메인 화면 -->
{% extends 'Base.html' %}
{% load static %}

{% block content %}
<div class="main_banner">

</div>
<div class="container">
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
                aria-current="true" aria-label="Slide 1" style="background-color:grey"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                aria-label="Slide 2" style="background-color:grey"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                aria-label="Slide 3" style="background-color:grey"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="{% static 'images/main_1.png' %}" class="d-block w-100">
            </div>
            <div class="carousel-item">
                <img src="{% static 'images/main_2.png' %}" class="d-block w-100">
            </div>
            <div class="carousel-item">
                <img src="{% static 'images/main_3.png' %}" class="d-block w-100">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
    <div class="main_badge">
        <span class="badge rounded-pill bg-dark" style="font-size: 16px;">오늘의 키워드</span>
    </div>
    <div class="keywords_wordcloud">
        <div class="key_word1">
            <span>키워드 워드클라우드1</span>
        </div>
        <div class="key_word2">
            <span>키워드 워드클라우드2</span>
        </div>
        <div class="key_word3">
            <span>키워드 워드클라우드3</span>
        </div>
    </div>
    <div class="view_board">
        <div class="news_space">
            <div class="main_badge">
                <span class="badge rounded-pill bg-dark" style="font-size: 16px;">오늘의 뉴스</span>
            </div>
            <div class="news_cards">
                <div class="card-group">
                    <div class="card mb-3" style="width: 18rem;">
                        <a href="#">
                            <img src="https://img5.yna.co.kr/etc/inner/KR/2021/11/05/AKR20211105106300001_01_i_P4.jpg" class="card-img-top" style="height: 200px; ">
                            <div class="card-body">
                                <h4 class="card-title">[속보] 홍준표 "경선결과에 깨끗하게 승복"</h4>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            </div>
                        </a>
                    </div>
                    <div class="card mb-3" style="width: 18rem;">
                        <a href="#">
                            <img src="https://timgs.acs.wecandeo.com/thumb/2984/20211106/10/V12664285_f2c96065_ec40_428c_97d5_6deeb1bf10a2.jpg?udate=20211026" class="card-img-top" style="height: 200px; ">
                            <div class="card-body">
                                <h4 class="card-title">[속보] 홍준표 "경선결과에 깨끗하게 승복"</h4>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="card-group">
                    <div class="card mb-3" style="width: 18rem;">
                        <a href="#">
                            <img src="https://img5.yna.co.kr/etc/inner/KR/2021/11/05/AKR20211105106300001_01_i_P4.jpg" class="card-img-top" style="height: 200px; ">
                            <div class="card-body">
                                <h4 class="card-title">[속보] 홍준표 "경선결과에 깨끗하게 승복"</h4>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            </div>
                        </a>
                    </div>
                    <div class="card mb-3" style="width: 18rem;">
                        <a href="#">
                            <img src="https://timgs.acs.wecandeo.com/thumb/2984/20211106/10/V12664285_f2c96065_ec40_428c_97d5_6deeb1bf10a2.jpg?udate=20211026" class="card-img-top" style="height: 200px; ">
                            <div class="card-body">
                                <h4 class="card-title">[속보] 홍준표 "경선결과에 깨끗하게 승복"</h4>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="card-group">
                    <div class="card mb-3" style="width: 18rem;">
                        <a href="#">
                            <img src="https://img5.yna.co.kr/etc/inner/KR/2021/11/05/AKR20211105106300001_01_i_P4.jpg" class="card-img-top" style="height: 200px; ">
                            <div class="card-body">
                                <h4 class="card-title">[속보] 홍준표 "경선결과에 깨끗하게 승복"</h4>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            </div>
                        </a>
                    </div>
                    <div class="card mb-3" style="width: 18rem;">
                        <a href="#">
                            <img src="https://timgs.acs.wecandeo.com/thumb/2984/20211106/10/V12664285_f2c96065_ec40_428c_97d5_6deeb1bf10a2.jpg?udate=20211026" class="card-img-top" style="height: 200px; ">
                            <div class="card-body">
                                <h4 class="card-title">[속보] 홍준표 "경선결과에 깨끗하게 승복"</h4>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="content_space">
            <div class="main_badge">
                <span class="badge rounded-pill bg-dark" style="font-size: 16px;">오늘의 감기지수</span>
            </div>
            <div class="content_list">
                
            </div>
        </div>
    </div>
</div>
{% endblock %}