<!-- 메인 화면 -->
{% extends 'Base.html' %}

{% block content %}
<div class="main_banner">
    <div class="main_banner_text">
        <h3 class="banner_text">건강 정보 제공 및 자기 건강진단 사이트란?</h3>
        <span class="banner_text">설명~~</span>
    </div>
</div>
<div class="container">
    <div class="main_badge">
        <span class="badge rounded-pill bg-dark" style="font-size: 16px;">오늘의 키워드</span>
    </div>
    <div class="keywords_wordcloud">
        <div class="key_word1">
            <span>키워드 워드클라우드1</span>
        </div>
        <div class="key_word2">
            <span>키워드 워드클라우드2</span>
        </div>
        <div class="key_word3">
            <span>키워드 워드클라우드3</span>
        </div>
    </div>
    <div class="view_board">
        <div class="news_space">
            <div class="main_badge">
                <span class="badge rounded-pill bg-dark" style="font-size: 16px;">오늘의 뉴스</span>
            </div>
            <div class="news_cards1">
                <div class="card-group">
                    <div class="card mb-3" style="width: 18rem;">
                        <a href="#">
                            <img src="https://img5.yna.co.kr/etc/inner/KR/2021/11/05/AKR20211105106300001_01_i_P4.jpg" class="card-img-top" style="height: 200px; ">
                            <div class="card-body">
                                <h4 class="card-title">[속보] 홍준표 "경선결과에 깨끗하게 승복"</h4>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            </div>
                        </a>
                    </div>
                    <div class="card mb-3" style="width: 18rem;">
                        <a href="#">
                            <img src="https://timgs.acs.wecandeo.com/thumb/2984/20211106/10/V12664285_f2c96065_ec40_428c_97d5_6deeb1bf10a2.jpg?udate=20211026" class="card-img-top" style="height: 200px; ">
                            <div class="card-body">
                                <h4 class="card-title">[속보] 홍준표 "경선결과에 깨끗하게 승복"</h4>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="news_cards2">
                <div class="card-group">
                    <div class="card mb-3" style="width: 18rem;">
                        <a href="#">
                            <img src="https://img5.yna.co.kr/etc/inner/KR/2021/11/05/AKR20211105106300001_01_i_P4.jpg" class="card-img-top" style="height: 200px; ">
                            <div class="card-body">
                                <h4 class="card-title">[속보] 홍준표 "경선결과에 깨끗하게 승복"</h4>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            </div>
                        </a>
                    </div>
                    <div class="card mb-3" style="width: 18rem;">
                        <a href="#">
                            <img src="https://timgs.acs.wecandeo.com/thumb/2984/20211106/10/V12664285_f2c96065_ec40_428c_97d5_6deeb1bf10a2.jpg?udate=20211026" class="card-img-top" style="height: 200px; ">
                            <div class="card-body">
                                <h4 class="card-title">[속보] 홍준표 "경선결과에 깨끗하게 승복"</h4>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="news_cards3">
                <div class="card-group">
                    <div class="card mb-3" style="width: 18rem;">
                        <a href="#">
                            <img src="https://img5.yna.co.kr/etc/inner/KR/2021/11/05/AKR20211105106300001_01_i_P4.jpg" class="card-img-top" style="height: 200px; ">
                            <div class="card-body">
                                <h4 class="card-title">[속보] 홍준표 "경선결과에 깨끗하게 승복"</h4>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            </div>
                        </a>
                    </div>
                    <div class="card mb-3" style="width: 18rem;">
                        <a href="#">
                            <img src="https://timgs.acs.wecandeo.com/thumb/2984/20211106/10/V12664285_f2c96065_ec40_428c_97d5_6deeb1bf10a2.jpg?udate=20211026" class="card-img-top" style="height: 200px; ">
                            <div class="card-body">
                                <h4 class="card-title">[속보] 홍준표 "경선결과에 깨끗하게 승복"</h4>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="content_space">
            <div class="main_badge">
                <span class="badge rounded-pill bg-dark" style="font-size: 16px;">오늘의 감기지수</span>
            </div>
            <div class="content_list">
                
            </div>
        </div>
        <!--
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                    content.</p>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                    content.</p>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                    content.</p>
            </div>
        </div>
    -->
    </div>
    
    
    
    
</div>
{% endblock %}